{% extends 'base.html.twig' %}

{% block title %}Jean Fotografe - Photographe Animalier{% endblock %}

{% block body %}
<section id='haut'>
    <div id='portrait' class='mAuto'>
        <img src='images/portraitJean.jpg' alt='photo de profil'>
    </div>
    <h2>- Jean Fotografe - <br>Photographe Animalier </h2>
    <p id='presentation' class='mAuto'> 
        Je m'appelle Jean Fotografe, j'aime les animeaux, plus particulièrement les oiseau et les renards mais aussi les lion et les éléphants, sans oublier les girafes, les zèbres, les lapins, les ours, les cerfs on peut également ajouter à cette liste les antilopes, les loups, les hamsters, les hornitorinques, les gerbilles,
    </p>
</section>
<br><br><br>
<h2> Les dernières photographies </h2>
<section id='lastP'>
    
    {% for photo in photos %}
        <img src='{{ photo.visuel }}'>
    {% endfor %}
</section>

{% endblock %}
