{% extends 'base.html.twig' %}

{% block title %}Hello PhotoController!{% endblock %}

{% block body %}
    <h2>Le formulaire</h2>
    <div id='formAjout'>
        {{ form(formulaire) }}
    </div>
{% endblock %}
