{% extends 'base.html.twig' %}

{% block title %}Hello PhotoController!{% endblock %}

{% block body %}
    <h2> Toutes mes oeuvres </h2>
    <br><br><br><br>
    <section id='lastP'>
    {% for photo in photos %}
        <img src='{{ photo.visuel }}'>
    {% endfor %}
    </section>
    <section id='ajoutP'>
        <a href='/create' class="mAuto"><button id='bAjout' value='ajout' >Ajouter photo</button></a>
    </section>
{% endblock %}
