<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <h1 id='titreBar'>Jean Fotographe</h1>
            <nav>
                <a href='/'>Accueil</a>
                <a href='/photo'>Portfolio</a>
                <a href='/expo'>Expositions</a>
            </nav>
        </header>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <script src='scripts/script.js'></script>
    </body>
</html>
